{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}

<section class="author-card">
    {{#if profile_image}}
        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
    {{else}}
        <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    <section class="author-card-content">
        <h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
        {{#if bio}}
            <p>{{bio}}</p>
        {{else}}
            <p><time class="post-card-tags" datetime="{{date format="YYYY-MM-DD"}}">发表日期：{{date format="YYYY-MM-DD"}}</time></p>
        {{/if}}
    </section>
</section>
<div class="post-full-footer-right">
    {{!-- <a class="author-card-button" href="{{url}}">阅读更多</a> --}}
    <div class="author-card-button fb-like" data-href="{{url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
</div>

{{/primary_author}}
